{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    {% if Character == 'BikeDeliveryManager' %}
        {% include 'includes/menu-bikeDeliveryManager.html' %}
    {% else %}
        {% include 'includes/menu-login.html' %}
    {% endif %}

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">

        <!-- Layout container -->
        <div class="layout-page">

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Portal / Dashboard</span></h4>
              {% if Status == 401 %}
                  <div class="alert alert-warning alert-dismissible" role="alert">
                        You have not registered a Bike Delivery for yourself.<br>
                        Please proceed to register a Bike Delivery <a href="{% url 'portal-bikeDelivery' %}">Add Bike Delivery</a>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endif %}
              <div class="alert alert-primary" role="alert">You have entered the website as character <strong>{{ Character }}</strong></div>
              <!--Start Little Information -->

              <div class="row">
                <!-- Basic Badges -->
                <div class="col-lg">
                  <div class="card mb-4">
                    <h5 class="card-header">Quick Access</h5>
                    <div class="card-body">
                      <div class="demo-inline-spacing">
                          <a href="{% url 'portal-profile' %}" class="btn btn-primary text-white">Profile</a>
                          <a href="{% url 'portal-bikeDelivery' %}" class="btn btn-primary text-white">Bike Delivery</a>
                          <a href="{% url 'portal-requests' %}" class="btn btn-primary text-white">Requests</a>
                          <a href="" class="btn btn-primary text-white">Manage Bike Delivery</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- / Content -->

            {% include 'includes/footer.html' %}

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
{% endblock %}