{% extends 'base.html' %}
{% load static %}

{% block title %}
    Reset Password
{% endblock %}

{% block header_ref %}
    <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-auth.css' %}" />
    <script>
        function verifyPassword(){
            let text = document.getElementById('password').value;
            if(/[0-9]/.test(text) === false){
                console.log('no');
                document.getElementById('resAuth-containNumber').innerHTML = '* The password does not contain numbers.';
            }
            else{
                console.log('yes');
                document.getElementById('resAuth-containNumber').innerHTML = '';
            }
            if(text.length < 8 || text.length > 32){
                document.getElementById('resAuth-length').innerHTML = '* The password size is not correct.';
            }
            else{
                document.getElementById('resAuth-length').innerHTML = '';
            }
            if(/[A-Z]/.test(text) === true && /[a-z]/.test(text) === true){
                document.getElementById('resAuth-upperLower').innerHTML = '';
            }
            else{
                document.getElementById('resAuth-upperLower').innerHTML = '* Upper and lower case letters are not used.';
            }
            let format = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
            if(format.test(text) === false){
                document.getElementById('resAuth-special').innerHTML = '* No special characters are used in the password.';
            }
            else{
                document.getElementById('resAuth-special').innerHTML = '';
            }
        }
        function verifyRetypePassword(){
            let password = document.getElementById('password').value;
            let retypePassword = document.getElementById('retypePassword').value;
            if(password.length !== 0){
                if(password !== retypePassword){
                document.getElementById('resAuth-retypePassword').innerHTML = '* Password and RetypePassword do not match.';
                document.getElementById('resAuth-retypePassword').style.color = 'red';
                document.getElementById('ChangeBtn').setAttribute('disabled','');
                }
                else{
                    document.getElementById('resAuth-retypePassword').innerHTML = 'Password and RetypePassword match';
                    document.getElementById('resAuth-retypePassword').style.color = 'green';
                    document.getElementById('ChangeBtn').removeAttribute('disabled');


                }
            }

        }
        window.onload = function() {
          document.getElementById('ChangeBtn').setAttribute('disabled', '');
        };
    </script>
    <style>
        .resAuth {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Forgot Password -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="{% url 'index-main' %}" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo" style="width: 100%">
                    <img src="{% static 'img/logo.png' %}" alt="" style="width: 50%;margin: 0 25%;" >
                  </span>
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Change Password <i class='bx bx-transfer-alt' style="font-size: 2rem;"></i></h4>
              <p class="mb-4">You are changing the password for <strong>{{ ResetLinkInfo.Email }}</strong></p>
              {% if Status == 401 %}
                  <div class="alert alert-danger alert-dismissible" role="alert">
                      Please refresh page and try again. <a href="{% url 'login-forgotPassword' %}">Refresh</a>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endif %}
              {% if Status == 403 %}
                  <div class="alert alert-danger alert-dismissible" role="alert">
                      Input's is Incomplete. Please refresh and try again. <a href="{% url 'login-forgotPassword' %}">Refresh</a>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endif %}
              {% if Status == 404 %}
                  <div class="alert alert-danger alert-dismissible" role="alert">
                      Password and RetypePassword do not match.
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endif %}
              {% if Status == 405 %}
                  <div class="alert alert-danger alert-dismissible" role="alert">
                      Password format is invalid.
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endif %}
              <form id="formAuthentication" class="mb-3" action="{% url 'login-resetPassword-check' tokenLink=ResetLinkInfo.TokenLink %}" method="POST">
                {% csrf_token %}
                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Password</label>
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="Password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password" maxlength="32" onkeyup="verifyPassword();verifyRetypePassword()"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                  <small id="resAuth-containNumber" class="d-block resAuth"></small>
                  <small id="resAuth-upperLower" class="d-block resAuth"></small>
                  <small id="resAuth-special" class="d-block resAuth"></small>
                  <small id="resAuth-length" class="d-block resAuth"></small>
                </div>
                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="retypePassword">Retype Password</label>
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="retypePassword"
                      class="form-control"
                      name="RetypePassword"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password" maxlength="32" onkeyup="verifyRetypePassword()"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                  <small id="resAuth-retypePassword" class="d-block"></small>
                </div>
                <ul>
                    <li class="text-muted mb-0"><small>At least 8 characters—the more characters, the better</small></li>
                    <li class="text-muted mb-0"><small>A mixture of both uppercase and lowercase letters</small></li>
                    <li class="text-muted mb-0"><small>A mixture of letters and numbers </small></li>
                    <li class="text-muted mb-0"><small>Inclusion of at least one special character, e.g.,! @ # ? ]</small></li>
                </ul>
                <button class="btn btn-primary d-grid w-100" id="ChangeBtn">Change</button>
              </form>
              <div class="text-center">
                <a href="{% url 'login-main' %}" class="d-flex align-items-center justify-content-center">
                  <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                  Back to login
                </a>
              </div>
            </div>
          </div>
          <!-- /Forgot Password -->
        </div>
      </div>
    </div>
    <!-- / Content -->

{% endblock %}

